<a href="https://colab.research.google.com/github/DiKachura/neural_network_homework/blob/main/Homework_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#-Домашняя-работа-№1" data-toc-modified-id="-Домашняя-работа-№1-1"><span class="toc-item-num">1&nbsp;&nbsp;</span><center> Домашняя работа №1</center></a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Задание-1." data-toc-modified-id="Задание-1.-1.0.1"><span class="toc-item-num">1.0.1&nbsp;&nbsp;</span>Задание 1.</a></span><ul class="toc-item"><li><span><a href="#Выберите-верный-пункт:" data-toc-modified-id="Выберите-верный-пункт:-1.0.1.1"><span class="toc-item-num">1.0.1.1&nbsp;&nbsp;</span>Выберите верный пункт:</a></span></li></ul></li><li><span><a href="#Задание-2." data-toc-modified-id="Задание-2.-1.0.2"><span class="toc-item-num">1.0.2&nbsp;&nbsp;</span>Задание 2.</a></span><ul class="toc-item"><li><span><a href="#Пояснения:" data-toc-modified-id="Пояснения:-1.0.2.1"><span class="toc-item-num">1.0.2.1&nbsp;&nbsp;</span>Пояснения:</a></span></li></ul></li><li><span><a href="#Информация-для-последующих-заданий" data-toc-modified-id="Информация-для-последующих-заданий-1.0.3"><span class="toc-item-num">1.0.3&nbsp;&nbsp;</span>Информация для последующих заданий</a></span></li></ul></li><li><span><a href="#Описание-данных" data-toc-modified-id="Описание-данных-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Описание данных</a></span><ul class="toc-item"><li><span><a href="#Таблица-transactions.csv" data-toc-modified-id="Таблица-transactions.csv-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Таблица <code>transactions.csv</code></a></span></li><li><span><a href="#Таблица-gender_train.csv" data-toc-modified-id="Таблица-gender_train.csv-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Таблица <code>gender_train.csv</code></a></span></li><li><span><a href="#Таблица-tr_mcc_codes.csv" data-toc-modified-id="Таблица-tr_mcc_codes.csv-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Таблица <code>tr_mcc_codes.csv</code></a></span></li><li><span><a href="#Таблица-tr_types.csv" data-toc-modified-id="Таблица-tr_types.csv-1.1.4"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>Таблица <code>tr_types.csv</code></a></span></li><li><span><a href="#Задание-3." data-toc-modified-id="Задание-3.-1.1.5"><span class="toc-item-num">1.1.5&nbsp;&nbsp;</span>Задание 3.</a></span><ul class="toc-item"><li><span><a href="#Выберите-все-верные-пункты:" data-toc-modified-id="Выберите-все-верные-пункты:-1.1.5.1"><span class="toc-item-num">1.1.5.1&nbsp;&nbsp;</span>Выберите все верные пункты:</a></span></li></ul></li><li><span><a href="#Задание-4." data-toc-modified-id="Задание-4.-1.1.6"><span class="toc-item-num">1.1.6&nbsp;&nbsp;</span>Задание 4.</a></span></li><li><span><a href="#Задание-5." data-toc-modified-id="Задание-5.-1.1.7"><span class="toc-item-num">1.1.7&nbsp;&nbsp;</span>Задание 5.</a></span></li><li><span><a href="#Задание-6." data-toc-modified-id="Задание-6.-1.1.8"><span class="toc-item-num">1.1.8&nbsp;&nbsp;</span>Задание 6.</a></span></li><li><span><a href="#Задание-7." data-toc-modified-id="Задание-7.-1.1.9"><span class="toc-item-num">1.1.9&nbsp;&nbsp;</span>Задание 7.</a></span></li><li><span><a href="#Задание-8." data-toc-modified-id="Задание-8.-1.1.10"><span class="toc-item-num">1.1.10&nbsp;&nbsp;</span>Задание 8.</a></span><ul class="toc-item"><li><span><a href="#Task-5:" data-toc-modified-id="Task-5:-1.1.10.1"><span class="toc-item-num">1.1.10.1&nbsp;&nbsp;</span>Task 5:</a></span></li><li><span><a href="#Вопросы:" data-toc-modified-id="Вопросы:-1.1.10.2"><span class="toc-item-num">1.1.10.2&nbsp;&nbsp;</span>Вопросы:</a></span></li><li><span><a href="#Task-6:" data-toc-modified-id="Task-6:-1.1.10.3"><span class="toc-item-num">1.1.10.3&nbsp;&nbsp;</span>Task 6:</a></span></li><li><span><a href="#Вопросы:" data-toc-modified-id="Вопросы:-1.1.10.4"><span class="toc-item-num">1.1.10.4&nbsp;&nbsp;</span>Вопросы:</a></span></li></ul></li></ul></li></ul></li></ul></div>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

 # <center> Домашняя работа №1

In [ ]:
import pandas as pd
import numpy as np

### Задание 1. 

По клиенту получены зашумленные данные (объект s типа Series) по его транзакциям. 

Для заданного ниже объекта s проделайте следующее:
1. Создайте новый Series, значения которого совпадают со значениями s, а индексы - целочисленные значения от 4 до 15, не включая 15.  
2. Выберите из s только целочисленные элементы и вычислите их дисперсию (2). (\*)


##### Пояснения:
- Дисперсия рассчитывается с помощью функции из библиотеки numpy: np.var( , ddof=0) или встроенной в python функции: .var(ddof=1)

In [ ]:
s = pd.Series(data=['1', 5, 3.1, 'hello', -5, -1000, 12.78, 'world', 10.10, '!', 98], 
              index=range(6, 28, 2))
### Type your code here
s

6         1
8         5
10      3.1
12    hello
14       -5
16    -1000
18    12.78
20    world
22     10.1
24        !
26       98
dtype: object

In [ ]:
#1
s = pd.Series(data=['1', 5, 3.1, 'hello', -5, -1000, 12.78, 'world', 10.10, '!', 98],
              index = range(4, 15))
s

4         1
5         5
6       3.1
7     hello
8        -5
9     -1000
10    12.78
11    world
12     10.1
13        !
14       98
dtype: object

In [ ]:
#2
ints = [elem for elem in s if type(elem) == int]
print(ints)
print(np.var(ints))

[5, -5, -1000, 98]
201563.25

##### Задание 2. 
1. Сгенерируйте Series из 200 значений нормально распределённой СВ (np.random.normal с дефолтными параметрами - нулевым средним и единичной дисперсией).
2. Возведите каждое значение серии во 2 степень, а значения индекса увеличьте в 2 раза. 
3. Ответьте на следующие вопросы через запятую (без пробелов) (\*)
    - 1) Выведите сумму элементов, строго меньших 2.5, имеющих нечётные значения индекса. 
    - 2) Выведите количество значений серии меньше нуля.

#### Пояснения:
(\*) Не забудьте про фиксированный seed (его менять не нужно)!
 - Определенное значение seed нужно, чтобы ответы у всех выполняющих
это задание были одинаковые и их можно было проверить (так как генерируются
одинаковые series).

In [ ]:
#1
np.random.seed(242)
### Type your code here
s = pd.Series(np.random.normal(size=200))
s

0     -0.357519
1      0.148448
2      0.993531
3      1.838968
4     -0.744026
         ...
195   -1.080015
196   -0.155209
197    0.764741
198   -0.423611
199    0.332925
Length: 200, dtype: float64

In [ ]:
#2, 3
np.random.seed(242)
s = pd.Series(np.random.normal(size=200) ** 2, index=[x * 2 for x in range(200)])
print(f'{s[s.index%2!=0][s<2.5].sum()},{s[s < 0].count()}')

0.0,0

### Информация для последующих заданий
- Для всех последующих заданий будем использовать обезличенные транзакционные банковские данные. Для этого считайте в переменные tr_mcc_codes, tr_types, transactions и gender_train из одноимённых таблиц из папки data. Для таблицы transactions используйте только первые n=1000000 строк. Обратите внимание на разделители внутри каждого из файлов - они могут различаться!

In [ ]:
tr_mcc_codes=pd.read_csv(filepath_or_buffer = "/content/drive/MyDrive/colab_notebooks/neuron/data/tr_mcc_codes.csv",
           sep = ';')
tr_mcc_codes

     mcc_code                                    mcc_description
0         742                                Ветеринарные услуги
1        1711  Генеральные подрядчики по вентиляции, теплосна...
2        1731                        Подрядчики по электричеству
3        1799  Подрядчики, специализированная торговля — нигд...
4        2741           Разнообразные издательства/печатное дело
..        ...                                                ...
179      9211  Судовые выплаты, включая алименты и детскую по...
180      9222                                             Штрафы
181      9311                                  Налоговые платежи
182      9399  Правительственные услуги, нигде ранее не класс...
183      9402             Почтовые услуги — только правительство

[184 rows x 2 columns]

In [ ]:
### Type your code here
tr_types=pd.read_csv(filepath_or_buffer = "/content/drive/MyDrive/colab_notebooks/neuron/data/tr_types.csv",
           sep = ';')
tr_types

     tr_type                                     tr_description
0       3200  Плата за предоставление услуг посредством моби...
1       3210  Плата за предоставление отчета по счету карты ...
2       3800  Плата за обслуживание банковской карты (за пер...
3       4000            Плата за получение наличных в Сбербанке
4       4001  Плата за получение наличных в Сбербанке (в дру...
..       ...                                                ...
150     2990                             Списание по требованию
151     2992  Списание средств для погашения задолженности п...
152     3001            Комиссия за обслуживание ссудного счета
153     3030  Плата за обслуживание банковской карты (за пос...
154     3120                Плата за досрочный перевыпуск карты

[155 rows x 2 columns]

In [ ]:
transactions=pd.read_csv(filepath_or_buffer = "/content/drive/MyDrive/colab_notebooks/neuron/data/transactions.csv",
                         index_col='customer_id',
           sep = ',',
           nrows = 1000000)
transactions

              tr_datetime  mcc_code  tr_type    amount   term_id
customer_id
39026145       0 10:23:26      4814     1030  -2245.92       NaN
39026145       1 10:19:29      6011     7010  56147.89       NaN
39026145       1 10:20:56      4829     2330 -56147.89       NaN
39026145       1 10:39:54      5499     1010  -1392.47       NaN
39026145       2 15:33:42      5499     1010   -920.83       NaN
...                   ...       ...      ...       ...       ...
98801178     269 10:29:06      5921     1010 -23016.59    127873
98801178     270 10:26:45      5211     1010 -61380.88  10114209
98801178     270 15:18:53      5921     1010 -11800.27  10105341
98801178     271 12:47:13      5211     1010 -16170.59  10114209
98801178     271 14:51:56      5921     1010 -10025.77    123991

[1000000 rows x 5 columns]

In [ ]:
gender_train=pd.read_csv(filepath_or_buffer = "/content/drive/MyDrive/colab_notebooks/neuron/data/gender_train.csv",
           sep = ',')
gender_train

      customer_id  gender
0        10928546       1
1        69348468       1
2        61009479       0
3        74045822       0
4        27979606       1
...           ...     ...
8395     90417572       0
8396     66837341       0
8397     10758984       1
8398     11376556       0
8399     29190649       0

[8400 rows x 2 columns]

## Описание данных
### Таблица ```transactions.csv```
##### Описание
Таблица содержит историю транзакций клиентов банка за один год и три месяца.

##### Формат данных

```
customer_id,tr_datetime,mcc_code,tr_type,amount,term_id
111111,15 01:40:52,1111,1000,-5224,111111
111112,15 15:18:32,3333,2000,-100,11122233
...
```
##### Описание полей

 - ```customer_id``` — идентификатор клиента;
 - ```tr_datetime``` — день и время совершения транзакции (дни нумеруются с начала данных);
 - ```mcc_code``` — mcc-код транзакции;
 - ```tr_type``` — тип транзакции;
 - ```amount``` — сумма транзакции в условных единицах со знаком; ```+``` — начисление средств клиенту (приходная транзакция), ```-``` — списание средств (расходная транзакция);
 - ```term_id``` — идентификатор терминала;


### Таблица ```gender_train.csv```

##### Описание
Данная таблица содержит информацию по полу для части клиентов, для которых он известен. Для остальных клиентов пол неизвестен.

##### Формат данных
```
customer_id,gender
111111,0
111112,1
...
```

##### Описание полей
 - ```customer_id``` — идентификатор клиента;
 - ```gender``` — пол клиента;

### Таблица ```tr_mcc_codes.csv```

##### Описание
Данная таблица содержит описание mcc-кодов транзакций.

##### Формат данных
```
mcc_code;mcc_description
1000;словесное описание mcc-кода 1000
2000;словесное описание mcc-кода 2000
...
```

##### Описание полей
 - ```mcc_code``` – mcc-код транзакции;
 - ```mcc_description``` — описание mcc-кода транзакции.

### Таблица ```tr_types.csv```

##### Описание
Данная таблица содержит описание типов транзакций.

##### Формат данных
```
tr_type;tr_description
1000;словесное описание типа транзакции 1000
2000;словесное описание типа транзакции 2000
...
```

##### Описание полей
 - ```tr_type``` – тип транзакции;
 - ```tr_description``` — описание типа транзакции;

### Задание 3.
1. В датафрейме transactions задайте столбец  customer_id в качестве индекса.
2. Выделите клиента с максимальной суммой транзакции (то есть с максимальным приходом на карту). (\*)
3. Найдите у него наиболее часто встречающийся модуль суммы приходов/расходов. (\**)
4. Выделите клиента с минимальной суммой транзакции.



##### Пояснения:
(\*) Если у клиента были транзакции [-10000, 10, 0, -10], то максимумом будет являться значение 10. <br>
(\**) Если у клиента были транзакции [-10000, 10, 0, -10], то наиболее встречающийся модуль суммы транзакций равен 10, и встретился он 2 раза.

In [ ]:
#2
transactions.amount.idxmax()

26782922

In [ ]:
#3
amounts_of_customer = transactions.loc[transactions.amount.idxmax()].amount.abs()
amounts_of_customer

customer_id
26782922     31442.82
26782922     11935.25
26782922     11229.58
26782922     67377.47
26782922    129913.87
              ...
26782922    988202.94
26782922     80852.97
26782922     22459.16
26782922     10488.43
26782922    116787.62
Name: amount, Length: 294, dtype: float64

In [ ]:
amounts_of_customer.mode()

0    22459.16
dtype: float64

In [ ]:
#4
transactions.amount.idxmin()

26782922

### Задание 4.
1. Найдите максимальную разницу между медианами суммы транзакций, посчитанными при заданных ниже условиях по полю amount из таблицы transactions (\*):
    - Медиана суммы транзакций
    - Медиана суммы транзакций по тем строкам, которые ни в одном из своих столбцов не содержат пустые значения
    - Медиана суммы транзакций по строкам, отсортированным по полю amount в порядке убывания, и из которых удалены дублирующиеся по столбцам [mcc_code, tr_type] строки, причём при удалении соответстующих дублей остаются только последние из дублирующихся строк (keep='last')



##### Пояснения:
(\*) Для вычисления максимальной разницы между значениями списка можно использовать функцию np.ptp  
(\**) Если в результате получились значения [1,3,5], то макимальная разница между ними 4 == 5-1.

### Type your code here

In [ ]:
#1
m1 = transactions.amount.median()
m1

-5614.79

In [ ]:
#2
tr = transactions.dropna()
m2 = tr.amount.median()
m2

-5596.6

In [ ]:
transaction = transactions.sort_values(by='amount')
transaction.drop_duplicates(['mcc_code', 'tr_type'], keep='last', inplace=True)
m3 = transaction.amount.median()
m3

-920.83

In [ ]:
print(f'{np.ptp([m1, m2, m3])}')

4693.96

### Задание 5.
Соедините transactions со всеми остальными таблицами (tr_mcc_codes, tr_types, gender_train). Причём с customers_gender_train необходимо смёрджиться с помощью left join, а с оставшимися датафреймами - через inner.
После получения результата таблицы gender_train, tr_types, tr_mcc_codes можно удалить. В результате соединения датафреймов должно получиться 999584 строки.

In [ ]:
transactions=pd.read_csv(filepath_or_buffer = "/content/drive/MyDrive/colab_notebooks/neuron/data/transactions.csv",
                      
           sep = ',',
           nrows = 1000000)
transactions

        customer_id   tr_datetime  mcc_code  tr_type    amount   term_id
0          39026145    0 10:23:26      4814     1030  -2245.92       NaN
1          39026145    1 10:19:29      6011     7010  56147.89       NaN
2          39026145    1 10:20:56      4829     2330 -56147.89       NaN
3          39026145    1 10:39:54      5499     1010  -1392.47       NaN
4          39026145    2 15:33:42      5499     1010   -920.83       NaN
...             ...           ...       ...      ...       ...       ...
999995     98801178  269 10:29:06      5921     1010 -23016.59    127873
999996     98801178  270 10:26:45      5211     1010 -61380.88  10114209
999997     98801178  270 15:18:53      5921     1010 -11800.27  10105341
999998     98801178  271 12:47:13      5211     1010 -16170.59  10114209
999999     98801178  271 14:51:56      5921     1010 -10025.77    123991

[1000000 rows x 6 columns]

In [ ]:
transactions = pd.merge(transactions, gender_train, how='left')
transactions = pd.merge(transactions, tr_mcc_codes, how='inner')
transactions = pd.merge(transactions, tr_types, how='inner')
transactions.shape

(999584, 9)

### Задание 6.
1. Определите модуль разницы между средними тратами женщин и мужчин (трата - отрицательное значение amount). (*)



##### Пояснения:
(\*) Если в результате для мужчин получились значения [-1,-3,-5], а для женщин [-1,-2,-3],  
то модуль разницы между средними арифметическими -3 и -2 будет равен 1.

(\**) Обратите внимание, что для вычисления модуля разности точных знаний о том,  
какой класc относится к мужчинам, а какой - к женщинам, пока не требуется.

In [ ]:
transactions

,customer_id,tr_datetime,mcc_code,tr_type,amount,term_id,gender,mcc_description,tr_description
0,39026145,0 10:23:26,4814,1030,-2245.92,NaN,1.0,"Звонки с использованием телефонов, считывающих...",Оплата услуги. Банкоматы СБ РФ
1,39026145,6 07:08:31,4814,1030,-5614.79,NaN,1.0,"Звонки с использованием телефонов, считывающих...",Оплата услуги. Банкоматы СБ РФ
2,39026145,8 07:06:10,4814,1030,-1122.96,NaN,1.0,"Звонки с использованием телефонов, считывающих...",Оплата услуги. Банкоматы СБ РФ
3,39026145,11 08:49:03,4814,1030,-2245.92,NaN,1.0,"Звонки с использованием телефонов, считывающих...",Оплата услуги. Банкоматы СБ РФ
4,39026145,11 14:12:08,4814,1030,-2245.92,NaN,1.0,"Звонки с использованием телефонов, считывающих...",Оплата услуги. Банкоматы СБ РФ
...,...,...,...,...,...,...,...,...,...
999579,36837532,18 23:38:60,3000,6000,1297824.89,NaN,NaN,"Авиалинии, авиакомпании",Возврат покупки. ТУ СБ РФ
999580,6808459,206 19:00:10,3000,6000,124693.24,NaN,NaN,"Авиалинии, авиакомпании",Возврат покупки. ТУ СБ РФ
999581,83759123,90 22:40:57,3000,6000,218976.79,NaN,NaN,"Авиалинии, авиакомпании",Возврат покупки. ТУ СБ РФ
999582,89619970,104 23:39:35,3000,6000,408307.49,NaN,NaN,"Авиалинии, авиакомпании",Возврат покупки. ТУ СБ РФ
999583,89619970,105 23:38:49,3000,6000,204153.74,NaN,NaN,"Авиалинии, авиакомпании",Возврат покупки. ТУ СБ РФ

In [ ]:
### Type your code here
table = transactions[transactions['amount'] < 0]
#предположим 0 - это мужчина
males = table[table.gender == 0]['amount'].mean()
fmales = table[table.gender == 1]['amount'].mean()
print(abs(males - fmales))

32718.05492022467

### Задание 7.
1. По всем типам транзакций рассчитайте максимальную сумму прихода на карту (из строго положительных сумм по столбцу amount) отдельно для мужчин и женщин (назовите ее "max_income"). Оставьте по 5 транзакций для мужчин и для женщин, наименьших среди всех транзакций по полученным значениям "max_income". (\*)
2. Выделите среди них те, которые встречаются одновременно и у мужчин, и у женщин:
    - 1) Покупка. POS ТУ СБ РФ	
    - 2) Списание после проведения претензионной работы	
    - 3) Плата за получение наличных. Россия	
    - 4) Перевод на карту/ с карты через АТМ (со взиманием комиссии с отправителя) по счету в овердрафте	
    - 5) Плата за получение наличных в АТМ. Россия	 
    - 6) Наличные. Зарубеж. банк	
    - 7) Возврат покупки. POS ТУ Россия

In [ ]:
tab = transactions[transactions['amount'] > 0].copy()[['tr_type', 'tr_description', 'gender', 'amount']]
tab

        tr_type              tr_description  gender      amount
119094     1100         Покупка. ТУ  Россия     1.0    15721.41
119344     1100         Покупка. ТУ  Россия     1.0    11229.58
120188     1100         Покупка. ТУ  Россия     NaN     2245.92
120396     1100         Покупка. ТУ  Россия     0.0    60796.94
120397     1100         Покупка. ТУ  Россия     0.0   146006.98
...         ...                         ...     ...         ...
999579     6000  Возврат  покупки. ТУ СБ РФ     NaN  1297824.89
999580     6000  Возврат  покупки. ТУ СБ РФ     NaN   124693.24
999581     6000  Возврат  покупки. ТУ СБ РФ     NaN   218976.79
999582     6000  Возврат  покупки. ТУ СБ РФ     NaN   408307.49
999583     6000  Возврат  покупки. ТУ СБ РФ     NaN   204153.74

[230939 rows x 4 columns]

In [ ]:
tab = tab.groupby(['gender', 'tr_type']).max()
tab = tab.rename(columns={'amount': 'max_income'})
tab

                                                   tr_description  \
gender tr_type
0.0    1010                                 Покупка. POS ТУ СБ РФ
       1100                                   Покупка. ТУ  Россия
       1110                                Покупка. POS ТУ Россия
       1200                                  Покупка. Зарубеж. ТУ
       1210                             Покупка. POS  Зарубеж. ТУ
...                                                           ...
1.0    7070     Перевод на карту (с карты) через Мобильный бан...
       7071     Перевод на карту (с карты) через Мобильный бан...
       7074     Перевод с карты на карту в овердрафте через Мо...
       7075     Перевод с карты на карту в овердрафте через Мо...
       8100        Списание после проведения претензионной работы

                  max_income
gender tr_type
0.0    1010     2.483983e+04
       1100     2.097006e+06
       1110     3.930353e+05
       1200     5.755518e+05
       1210     8.364487e+04
...                      ...
1.0    7070     1.459845e+08
       7071     1.111728e+07
       7074     2.245916e+06
       7075     4.379536e+05
       8100     6.468237e+04

[72 rows x 2 columns]

In [ ]:
tab = tab.reset_index().set_index(['gender', 'max_income']).sort_index()
tab

                     tr_type  \
gender max_income
0.0    1.122960e+03     4051
       2.245920e+03     4110
       2.245920e+03     4210
       2.335750e+03     2370
       5.041860e+03     4100
...                      ...
1.0    9.769734e+06     7010
       1.111728e+07     7071
       1.796733e+07     7021
       2.133620e+07     7020
       1.459845e+08     7070

                                                        tr_description
gender max_income
0.0    1.122960e+03  Плата за перевод на карту (с карты) через АТМ ...
       2.245920e+03          Плата за получение наличных в АТМ. Россия
       2.245920e+03        Плата за получение наличных в АТМ. Зарубеж.
       2.335750e+03  Списание с карты на карту по операции <перевод...
       5.041860e+03                Плата за получение наличных. Россия
...                                                                ...
1.0    9.769734e+06       Взнос наличных через АТМ (в своем тер.банке)
       1.111728e+07  Перевод на карту (с карты) через Мобильный бан...
       1.796733e+07                           Взнос наличных через POS
       2.133620e+07                           Взнос наличных через POS
       1.459845e+08  Перевод на карту (с карты) через Мобильный бан...

[72 rows x 2 columns]

In [ ]:
pd.merge(tab.loc[1].head(5), tab.loc[0].head(5), on='tr_type')

,tr_type,tr_description_x,tr_description_y
0,4110,Плата за получение наличных в АТМ. Россия,Плата за получение наличных в АТМ. Россия

### Задание 8.
1. Выделите из поля tr_datetime относительный день tr_day (первое число до точного времени). (\*)
2. Отфильтруйте строки таким образом, чтобы оставить только те транзакции, у которых в соответствующий относительный день tr_day количество уникальных MCC кодов при транзакциях было больше 75 (можно воспользоваться функцией nunique())
3. Сгруппируйте полученный отфильтрованный датафрейм по MCC коду и полу, после чего, пронализировав результат, выберите верные варианты ответов ниже (\**): 
    - 1) gender == 0 - женщины, gender == 1 - мужчины
    - 2) gender == 1 - женщины, gender == 0 - мужчины
    - 3) Абсолютное значение медианы с типом "Флористика" (расходов/приходов) у мужчин выше той же медианы у женщин
    - 4) Абсолютное значение медианы женских трат (расходов/приходов) на ценные бумаги выше мужских
    - 5) Абсолютное значение медианы женских трат (расходов/приходов) в категории "Бары, коктейль-бары, дискотеки, ночные клубы и таверны — места продажи алкогольных напитков" ниже мужских
    
##### Пояснения:
(\*) Для того, чтобы выделить всё, что стоит до первого пробела, можно использовать строковые методы для датафрейма - .str.split(), например. 
(\**) Понять, какой класс к какому типу транзакций (мужские/женские) относится можно, если поизучать типичные для мужчин/женщин категории и сравнить средние/медианы расходов и/или приходов в них.<br>
Снять ограничение на количество выводимых строк можно с помощью:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  
    print(a)

In [ ]:
df = transactions.copy()
df

,customer_id,tr_datetime,mcc_code,tr_type,amount,term_id,gender,mcc_description,tr_description
0,39026145,0 10:23:26,4814,1030,-2245.92,NaN,1.0,"Звонки с использованием телефонов, считывающих...",Оплата услуги. Банкоматы СБ РФ
1,39026145,6 07:08:31,4814,1030,-5614.79,NaN,1.0,"Звонки с использованием телефонов, считывающих...",Оплата услуги. Банкоматы СБ РФ
2,39026145,8 07:06:10,4814,1030,-1122.96,NaN,1.0,"Звонки с использованием телефонов, считывающих...",Оплата услуги. Банкоматы СБ РФ
3,39026145,11 08:49:03,4814,1030,-2245.92,NaN,1.0,"Звонки с использованием телефонов, считывающих...",Оплата услуги. Банкоматы СБ РФ
4,39026145,11 14:12:08,4814,1030,-2245.92,NaN,1.0,"Звонки с использованием телефонов, считывающих...",Оплата услуги. Банкоматы СБ РФ
...,...,...,...,...,...,...,...,...,...
999579,36837532,18 23:38:60,3000,6000,1297824.89,NaN,NaN,"Авиалинии, авиакомпании",Возврат покупки. ТУ СБ РФ
999580,6808459,206 19:00:10,3000,6000,124693.24,NaN,NaN,"Авиалинии, авиакомпании",Возврат покупки. ТУ СБ РФ
999581,83759123,90 22:40:57,3000,6000,218976.79,NaN,NaN,"Авиалинии, авиакомпании",Возврат покупки. ТУ СБ РФ
999582,89619970,104 23:39:35,3000,6000,408307.49,NaN,NaN,"Авиалинии, авиакомпании",Возврат покупки. ТУ СБ РФ
999583,89619970,105 23:38:49,3000,6000,204153.74,NaN,NaN,"Авиалинии, авиакомпании",Возврат покупки. ТУ СБ РФ

In [ ]:
df['tr_day'] = df['tr_datetime'].str.split().str[0]
df

,customer_id,tr_datetime,mcc_code,tr_type,amount,term_id,gender,mcc_description,tr_description,tr_day
0,39026145,0 10:23:26,4814,1030,-2245.92,NaN,1.0,"Звонки с использованием телефонов, считывающих...",Оплата услуги. Банкоматы СБ РФ,0
1,39026145,6 07:08:31,4814,1030,-5614.79,NaN,1.0,"Звонки с использованием телефонов, считывающих...",Оплата услуги. Банкоматы СБ РФ,6
2,39026145,8 07:06:10,4814,1030,-1122.96,NaN,1.0,"Звонки с использованием телефонов, считывающих...",Оплата услуги. Банкоматы СБ РФ,8
3,39026145,11 08:49:03,4814,1030,-2245.92,NaN,1.0,"Звонки с использованием телефонов, считывающих...",Оплата услуги. Банкоматы СБ РФ,11
4,39026145,11 14:12:08,4814,1030,-2245.92,NaN,1.0,"Звонки с использованием телефонов, считывающих...",Оплата услуги. Банкоматы СБ РФ,11
...,...,...,...,...,...,...,...,...,...,...
999579,36837532,18 23:38:60,3000,6000,1297824.89,NaN,NaN,"Авиалинии, авиакомпании",Возврат покупки. ТУ СБ РФ,18
999580,6808459,206 19:00:10,3000,6000,124693.24,NaN,NaN,"Авиалинии, авиакомпании",Возврат покупки. ТУ СБ РФ,206
999581,83759123,90 22:40:57,3000,6000,218976.79,NaN,NaN,"Авиалинии, авиакомпании",Возврат покупки. ТУ СБ РФ,90
999582,89619970,104 23:39:35,3000,6000,408307.49,NaN,NaN,"Авиалинии, авиакомпании",Возврат покупки. ТУ СБ РФ,104
999583,89619970,105 23:38:49,3000,6000,204153.74,NaN,NaN,"Авиалинии, авиакомпании",Возврат покупки. ТУ СБ РФ,105

In [ ]:
tr_day_mask = (df.groupby('tr_day').nunique()['mcc_code'] > 75)
tr_day_mask

tr_day
0      False
1      False
10     False
100    False
101     True
       ...
95      True
96     False
97     False
98     False
99     False
Name: mcc_code, Length: 457, dtype: bool

In [ ]:
tr_days_uniq_mcc_greater_75 = tr_day_mask.where(tr_day_mask == True).dropna().reset_index()['tr_day']
tr_days_uniq_mcc_greater_75

0      101
1      102
2      107
3      109
4      110
      ...
265     86
266     87
267     90
268     91
269     95
Name: tr_day, Length: 270, dtype: object

In [ ]:
df_2 = df.set_index('tr_day').loc[tr_days_uniq_mcc_greater_75].groupby(['gender', 'mcc_code']).aggregate(amount_count=('amount', 'count'), amount_mean=('amount', 'mean'))
df_2

                 amount_count    amount_mean
gender mcc_code
0.0    742                 10  -31602.281000
       1711                 1 -674897.690000
       1799                 3  -81489.310000
       2741                 1  -20746.420000
       3000               123 -407289.666911
...                       ...            ...
1.0    8999               587  -26104.359472
       9222                10  -38494.995000
       9311                14  -23582.117143
       9399                60  -22124.073000
       9402                 1   -4581.670000

[342 rows x 2 columns]

In [ ]:
df_2 = df_2.sort_values(by='amount_count', ascending=False)
df_2 = df_2.reset_index().set_index('mcc_code')
df_2 = pd.merge(df_2, tr_mcc_codes, on='mcc_code')
df_2

,mcc_code,gender,amount_count,amount_mean,mcc_description
0,6010,1.0,71481,50316.674855,Финансовые институты — снятие наличности вручную
1,6010,0.0,21298,98769.535392,Финансовые институты — снятие наличности вручную
2,6011,0.0,33730,-45226.375332,Финансовые институты — снятие наличности автом...
3,6011,1.0,33394,-83739.628926,Финансовые институты — снятие наличности автом...
4,5411,0.0,25504,-14036.866059,"Бакалейные магазины, супермаркеты"
...,...,...,...,...,...
337,8244,1.0,1,-13475.490000,Школы — бизнес и секретарей
338,8244,0.0,1,-160582.980000,Школы — бизнес и секретарей
339,5697,0.0,1,-171722.720000,"Услуги по переделке, починке и пошиву одежды"
340,1731,1.0,1,-55923.300000,Подрядчики по электричеству
341,9402,1.0,1,-4581.670000,Почтовые услуги — только правительство

In [ ]:
df_2.set_index('gender').loc[0].head(20)

,mcc_code,amount_count,amount_mean,mcc_description
gender,,,,
0.0,6010,21298,98769.535392,Финансовые институты — снятие наличности вручную
0.0,6011,33730,-45226.375332,Финансовые институты — снятие наличности автом...
0.0,5411,25504,-14036.866059,"Бакалейные магазины, супермаркеты"
0.0,4814,23969,-4727.975060,"Звонки с использованием телефонов, считывающих..."
0.0,4829,14725,-140837.637737,Денежные переводы
0.0,5499,7802,-8458.868067,"Различные продовольственные магазины — рынки, ..."
0.0,5541,1757,-17794.764986,Станции техобслуживания
0.0,5912,4360,-15000.141991,Аптеки
0.0,5331,3200,-16317.902659,Универсальные магазины
0.0,5812,2706,-14334.223452,"Места общественного питания, рестораны"
0.0,5814,1875,-8191.370475,"Рестораны, закусочные"
0.0,5921,937,-8866.416275,Магазины с продажей спиртных напитков на вынос...
0.0,5977,1280,-34949.971344,Магазины косметики
0.0,5999,1074,-32196.564264,Плавательные бассейны — распродажа
0.0,5211,582,-73806.143299,Лесо- и строительный материал
0.0,5691,1095,-59003.797288,Магазины мужской и женской одежды
0.0,5311,994,-28568.617133,Универмаги
0.0,5661,766,-68103.274295,Обувные магазины
0.0,5533,162,-38816.224815,Автозапчасти и аксессуары
0.0,8999,711,-17323.691842,"Профессиональные услуги, нигде ранее не класси..."

In [ ]:
df_2.set_index('gender').loc[1].head(20)

,mcc_code,amount_count,amount_mean,mcc_description
gender,,,,
1.0,6010,71481,50316.674855,Финансовые институты — снятие наличности вручную
1.0,6011,33394,-83739.628926,Финансовые институты — снятие наличности автом...
1.0,5411,23970,-15511.036439,"Бакалейные магазины, супермаркеты"
1.0,4814,16919,-6183.640707,"Звонки с использованием телефонов, считывающих..."
1.0,4829,12958,-279241.945272,Денежные переводы
1.0,5499,8332,-7844.639677,"Различные продовольственные магазины — рынки, ..."
1.0,5541,5126,-24672.876330,Станции техобслуживания
1.0,5912,2942,-14287.179381,Аптеки
1.0,5331,2744,-16776.441199,Универсальные магазины
1.0,5812,3178,-26571.437719,"Места общественного питания, рестораны"
1.0,5814,2433,-10930.069605,"Рестораны, закусочные"
1.0,5921,1836,-11437.617778,Магазины с продажей спиртных напитков на вынос...
1.0,5977,507,-40802.866726,Магазины косметики
1.0,5999,1216,-36078.450255,Плавательные бассейны — распродажа
1.0,5211,1170,-38471.589350,Лесо- и строительный материал
1.0,5691,535,-86325.279346,Магазины мужской и женской одежды
1.0,5311,933,-34435.878092,Универмаги
1.0,5661,375,-67746.372640,Обувные магазины
1.0,5533,738,-52763.095678,Автозапчасти и аксессуары
1.0,8999,587,-26104.359472,"Профессиональные услуги, нигде ранее не класси..."

In [ ]:
df_2.set_index('mcc_description').loc['Флористика']

                 mcc_code  gender  amount_count   amount_mean
mcc_description
Флористика           5992     1.0           192 -25974.147240
Флористика           5992     0.0           175 -22580.428629

In [ ]:
df_2.set_index('mcc_description').loc['Ценные бумаги: брокеры/дилеры']

                               mcc_code  gender  amount_count  amount_mean
mcc_description
Ценные бумаги: брокеры/дилеры      6211     1.0           123 -71311.91187
Ценные бумаги: брокеры/дилеры      6211     0.0             3  -6737.75000

In [ ]:
df_2.set_index('mcc_description').loc['Бары, коктейль-бары, дискотеки, ночные клубы и таверны — места продажи алкогольных напитков']

,mcc_code,gender,amount_count,amount_mean
mcc_description,,,,
"Бары, коктейль-бары, дискотеки, ночные клубы и таверны — места продажи алкогольных напитков",5813,1.0,217,-28077.812350
"Бары, коктейль-бары, дискотеки, ночные клубы и таверны — места продажи алкогольных напитков",5813,0.0,90,-16055.006222